*{
  margin: 0px;
  padding: 0px;
}

.h1title{
  font-size:60px;
  color:#162074;
  text-align:center;
  margin-top: 300px;
  animation-name: title_track;
  animation-duration: 3s;

}

@keyframes title_track {
  from {
    color: white;
  }
  to {
    color: #162074;
  }
}
